<template>
  <card class="card-user">
    <div slot="image">
      <img src="@/assets/img/background.jpg" alt="...">
    </div>
    <div>
      <div class="author">
        <img class="avatar border-white" v-bind:src="profileImage" alt="...">
        <h4 class="title">{{ name }}
          <br>
          <a href="#">
            <small>{{ email }}</small>
          </a>
        </h4>
      </div>
    </div>
    <hr>
    <div class="text-center">
      <div class="row">
        <div v-for="(info, index) in details" :key="index" :class="getClasses(index)">
          <h5>{{info.title}}
            <br>
            <small>{{info.subTitle}}</small>
          </h5>
        </div>
      </div>
    </div>
  </card>
</template>
<script>
export default {
  computed: {
    name() {
      return this.$store.state.user.data.firstName+" "+this.$store.state.user.data.lastName
    },
    profileImage() {
      return this.$store.state.user.data.profileImage
    },
    email () {
      return this.$store.state.user.email
    }
  },
  data() {
    return {
      details: [
        {
          title: this.$store.state.user.data.created,
          subTitle: "Member since"
        },
        {
          title: "Gold",
          subTitle: "Member type"
        }
      ]
    };
  },
  methods: {
    getClasses(index) {
      var remainder = index % 2;
      if (remainder === 0) {
        return "col-lg-5 offset-lg-1";
      } else if (remainder === 2) {
        return "col-lg-6";
      } else {
        return "col-lg-5";
      }
    }
  }
};
</script>
<style>
</style>
