<template>
    <div class="row">
      <div class="col-md-12">
        <card>
          <template slot="header">
            <h4 class="card-title">Form</h4>
            <p class="card-category">Kommer snart</p>
          </template>
        </card>
      </div>

    </div>
</template>
<script>
export default {};
</script>
<style>
</style>
