<template>
  <div id="LoginForm">
    <div class="container">
      <h1 class="form-heading">{{ $t("global.projectname") }}</h1>
      <div class="login-form">
        <div class="main-div">
          <div class="panel">
            <h2>{{ $t("forgotPassword")}}</h2>
            <p>{{ $t("forgotPasswordMessage") }}</p>
          </div>
   
          <form id="ForgotPassword" @submit.prevent="forgotPassword">
            <div type="error">
              <span id="error">{{ $t(error) }}</span>
            </div>
            <div type="message">
              <span id="message">{{ $t(message) }}</span>
            </div>
            <div class="form-group">
              <input
                name="email"
                label="Email"
                id="email"
                type="email"
                v-model="email"
                class="form-control" 
                required
                :placeholder="$t('email')">
            </div>

            <button class="btn btn-primary" color="primary" type="submit">{{ $t("resetPasswordButton") }}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { AUTH_USER_NOT_FOUND } from '../store/auth_errors.js'

export default {
  data () {
    return {
      email: '',
    }
  },
  methods: {
    forgotPassword () { 
      this.$store.dispatch('forgotPassword', { email: this.email })
    }
  },
  computed: {
    error () {
      let error = this.$store.getters.error
      if( !! error == false) return false;
      
      if(error != AUTH_USER_NOT_FOUND) {
          error = 'UNKNOWN_ERROR';
      }

      return error
    },
    message () {
      return this.$store.getters.message
    },
    loading () {
      return this.$store.getters.loading
    }
  }
}
</script>

<style>
</style>

<i18n>
{
  "en": {
    "forgotPassword": "Forgot password",
    "forgotPasswordMessage": "Please enter your email below an click the button to reset your password",
    "resetPasswordButton": "Reset password",
    "AUTH_USER_NOT_FOUND": "Email not found",
    "AUTH_PASSWORD_RESET_MAIL_SENT": "Password reset email sent"

  },
  "da": {
    "forgotPassword": "Glemt adgangskode",
    "forgotPasswordMessage": "Udfyld din email her under og klik på knappen for at få en ny adgangskode",
    "resetPasswordButton": "Nulstil min adgangskode",
    "AUTH_USER_NOT_FOUND": "Emailen kunne ikke findes",
    "AUTH_PASSWORD_RESET_MAIL_SENT": "Der er sendt en email med et link til at nulstille din adgangskode"
  }
}
</i18n>
