<template>
  <div id="LoginForm">
    <div class="container">
      <h1 class="form-heading">{{ $t("global.projectname") }}</h1>
      <div class="login-form">
        <div class="row">
          <div class="col main-div col-lg-4">
            <router-link tag="a" to="/unauth/signup"><a class="btn btn-primary col-lg-6" >{{ $t("createUserButton") }}</a></router-link>
          </div>
        </div>
        <div class="row">
          <div class="col main-div col-lg-4">
            <div class="panel">
              <h2>Login</h2>
              <p>{{ $t("login") }}</p>
            </div>
    
            <form id="Login" @submit.prevent="userSignIn">
                <div type="error">
                  <span id="error">{{ $t(error) }}</span>
                  <div v-if="error == 'AUTH_EMAIL_NOT_VERIFIED'">
                    <a v-on:click="resendEmail" id="resendValidationEmail">{{ $t("resendVerificationEmail") }}</a>
                  </div>
                </div>
                <div class="form-group">
                  <input
                    name="email"
                    label="Email"
                    id="email"
                    type="email"
                    v-model="email"
                    class="form-control" 
                    required
                    :placeholder="$t('email')">
                </div>
                <div class="form-group">
                  <input
                    name="password"
                    label="Password"
                    id="password"
                    type="password"
                    v-model="password"
                    class="form-control"
                    required
                    :placeholder="$t('password')">
                </div>
                <div class="forgot">
                  <router-link tag="a" to="/unauth/forgot-password"><a>{{ $t("forgotPassword") }}</a></router-link>
                </div>

                <button class="btn btn-primary secondary" type="submit">{{ $t("loginButton") }}</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import { AUTH_EMAIL_NOT_VERIFIED, AUTH_EMAIL_EXISTS, AUTH_WEAK_PASSWORD, AUTH_LOGIN_FAILED } from '../store/auth_errors.js'

export default {
  data () {
    return {
      email: '',
      password: '',
    }
  },
  methods: {
    userSignIn () { 
      this.$store.dispatch('userSignIn', { email: this.email, password: this.password })
    },
    resendEmail() {
      this.$store.dispatch('userResendVerification', { email: this.email })
    }
  },
  computed: {
    error () {
      let error = this.$store.getters.error
      if( !! error == false) return false;
      
      if(error != AUTH_EMAIL_NOT_VERIFIED && error != AUTH_EMAIL_EXISTS && error != AUTH_LOGIN_FAILED) {
          error = 'UNKNOWN_ERROR';
      }

      return error
    },
    loading () {
      return this.$store.getters.loading
    }
  }
}
</script>

<style>
</style>

<i18n>
{
  "en": {
    "login": "Please enter your email and password",
    "resendVerificationEmail": "Click here to resend verification email",
    "loginButton": "Sign In",
    "forgotPassword": "Forgot password?",
    "password": "Password",
    "email": "E-mail",
    "UNKNOWN_ERROR": "An error happened",
    "AUTH_EMAIL_NOT_VERIFIED": "Your email is not verified",
    "AUTH_EMAIL_EXISTS": "The email already exists, use the forgot password function below",
    "AUTH_WEAK_PASSWORD": "Your password must be minimum 6 characters",
    "AUTH_LOGIN_FAILED": "Login failed, try again",
    "createUserButton": "Create a new user"
  },
  "da": {
    "login": "Udfyld email og adgangskode",
    "resendVerificationEmail": "Klik her for at gensende verifications emailen",
    "loginButton": "Log ind",
    "forgotPassword": "Glemt adgangskode?",
    "password": "Adgangskode",
    "email": "E-mail",
    "UNKNOWN_ERROR": "Der er sket en fejl",
    "AUTH_EMAIL_NOT_VERIFIED": "Din email er ikke verificeret",
    "AUTH_WEAK_PASSWORD": "Adgangskoden skal være på minimum 6 tegn",
    "AUTH_LOGIN_FAILED": "Login fejlede, prøv igen",
    "createUserButton": "Opret en ny bruger"
  }
}
</i18n>
