<template>
  <div id="LoginForm">
    <div class="container">
      <h1 class="form-heading">{{ $t("global.projectname") }}</h1>
      <div class="login-form">
        <div class="main-div">
          <div class="panel">
            <h2>{{ $t("signup")}}</h2>
            <p>{{ $t("signupMessage") }}</p>
            <p>
              <router-link tag="a" to="/"><a class="btn btn-primary" >{{ $t("gotoLoginPage") }}</a></router-link>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<i18n>
{
  "en": {
    "signup": "Thanks for creating your user",
    "signupMessage": "You will shortly receive and email with a verification link. Please click it to access the system",
    "gotoLoginPage": "Go to the login page"
  },
  "da": {
    "signup": "Tak for at du oprettede en bruger",
    "signupMessage": "Om lidt vil du modtage en mail med et bekræftelses link, når du klikker det har du adgang til systemet",
    "gotoLoginPage": "Gå til login siden"
  }
}
</i18n>
