<template>
  <div id="LoginForm">
    <div class="container">
      <h1 class="form-heading">{{ $t("global.projectname") }}</h1>
      <div class="login-form">
        <div class="main-div">
          <div class="panel">
            <h2>{{ $t("signup")}}</h2>
            <p>{{ $t("signupMessage") }}</p>
          </div>
   
          <form id="Signup" @submit.prevent="userSignUp">
            <div type="error">
              <span id="error">{{ $t(error) }}</span>
            </div>
            <div class="form-group">
              <input
                name="email"
                label="Email"
                id="email"
                type="email"
                v-model="email"
                class="form-control" 
                required
                :placeholder="$t('email')">
            </div>
            <div class="form-group">
              <input
                name="password"
                label="Password"
                id="password"
                type="password"
                v-model="password"
                class="form-control"
                required
                :placeholder="$t('password')">
            </div>

            <button class="btn btn-primary" color="primary" type="submit">{{ $t("signupButton") }}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { AUTH_EMAIL_NOT_VERIFIED, AUTH_EMAIL_EXISTS, AUTH_WEAK_PASSWORD, AUTH_LOGIN_FAILED } from '../store/auth_errors.js'

export default {
  data () {
    return {
      email: '',
      password: '',
    }
  },
  methods: {
    userSignUp () { 
      this.$store.dispatch('userSignUp', { email: this.email, password: this.password })
    }
  },
  computed: {
    error () {
      let error = this.$store.getters.error
      if( !! error == false) return false;
      
      if(error != AUTH_EMAIL_NOT_VERIFIED && error != AUTH_EMAIL_EXISTS && error != AUTH_LOGIN_FAILED && error != AUTH_WEAK_PASSWORD) {
          error = 'UNKNOWN_ERROR';
      }

      return error
    },
    loading () {
      return this.$store.getters.loading
    }
  }
}
</script>

<style>

</style>

<i18n>
{
  "en": {
    "login": "Please enter your email and password",
    "resendVerificationEmail": "Click here to resend verification email",
    "loginButton": "Sign In",
    "forgotPassword": "Forgot password?",
    "password": "Password",
    "email": "E-mail",
    "UNKNOWN_ERROR": "An error happened",
    "AUTH_EMAIL_NOT_VERIFIED": "Your email is not verified",
    "signup": "Create user",
    "signupMessage": "Fill in the form to create a user",
    "signupButton": "Create user",
    "AUTH_EMAIL_EXISTS": "The email already exists, use the forgot password function",
    "AUTH_WEAK_PASSWORD": "Your password must be minimum 6 characters",
    "AUTH_LOGIN_FAILED": "Login failed, try again"
  },
  "da": {
    "login": "Udfyld email og adgangskode",
    "resendVerificationEmail": "Klik her for at gensende verifications emailen",
    "loginButton": "Log ind",
    "forgotPassword": "Glemt adgangskode?",
    "password": "Adgangskode",
    "email": "E-mail",
    "UNKNOWN_ERROR": "Der er sket en fejl",
    "AUTH_EMAIL_NOT_VERIFIED": "Din email er ikke verificeret",
    "signup": "Opret bruger",
    "signupMessage": "Udfyld her under for at oprette en bruger",
    "signupButton": "Opret mig!",
    "AUTH_EMAIL_EXISTS": "Emailen findes allerede, brug glemt adgangskode funktionen",
    "AUTH_WEAK_PASSWORD": "Adgangskoden skal være på minimum 6 tegn",
    "AUTH_LOGIN_FAILED": "Login fejlede, prøv igen"
  }
}
</i18n>
